<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="local-protocol" value="..\YuJanggi.Protocol\artifacts\nuget" />
		<add key="local-engine" value="..\YuJanggi.Engine\artifacts\nuget" />
	</packageSources>

	<packageSourceMapping>
		<packageSource key="local-protocol">
			<package pattern="YuJanggi.Protocol" />
		</packageSource>
		
		<packageSource key="local-engine">
			<package pattern="YuJanggi.Engine" />
		</packageSource>

		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
</configuration>
